.top-row-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.navbar-brand {
  width: 10%;
  padding: 10px 5px;
}
.navbar-brand img {
  width: 100%;
}
.main-head {
  background-image: url(../src/udemy-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.main-head .text {
  color: #ffffff;
  padding: 20px;
  padding-top: 200px;
}
.main-head .text h2 {
  font-size: 3rem;
}
.main-head .text p {
  font-size: 1.3rem;
}
.search {
  background-image: url("./icons/search.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
  float: right;
}
.how-it-works {
  color: #ffffff;
  font-size: 17px;
  background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
}
.udi-signup_temp::before {
  content: "\E92F";
}
.udi_icon {
  color: #fff;
  float: left;
  display: none;
  margin-right: 16px;
  margin-top: -2px;
  font-size: 47px;
  height: 1em;
}
.center-form {
  width: 50%;
  margin: auto;
  padding: 30px;
}
.course-card {
  box-shadow: 0px 1px 5px 3px rgba(86, 89, 95, 0.45);
}
.course-detail {
  padding: 16px 12px;
}
.course-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.course-description {
  font-weight: 100;
  font-size: 14px;
}
